.form {
    &__flex {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        align-items: center;
        max-width: 800px;

        .wrapp {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }

    &__label {
        font-size: 1.25rem;
        text-align: center;
        display: block;

    }

    &__input {}

    &__file {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;

    }

    &__button {
        flex: 0 0 200px;
    }

}